.homepageCustom {
  font-family: inherit;
  color: $fontColor;
}

.homepageCustom.borderTop {
  border-top: 1px solid rgba(185, 185, 185, 1);
}

.homepageCustom.bgLightBlue {
  background: $bgLightBlue;
}

.homepageCustom.bgLightPurple {
  background: rgba(94, 83, 199, 14%);
  color: rgba(94, 83, 199, 1);
}

.homepageCustom h1 {
  line-height: 1;
  font-size: 50px;
  color: rgba(34, 46, 59, 1);
  margin-top: 1em;
  height: 5%;
  width: 48%;
  margin-left: 25%;
}

.homepageCustom .subTitle {
  margin: auto;
  padding-left: 30%;
  padding-right: 30% ;
  font-size: 18px;
}

.homepageCustom .containerBlock {
  text-align: center;
  margin: auto;
  align-items: center;
}

.homepageCustom p > a {
  color: rgb(0, 114, 206);
  font-weight: 700;
}

.homepageCustom .titleSection {
  color: rgb(0, 114, 206);
  font-size: 35px;
  font-weight: normal;
}

.homepageCustom .containerBlock .titleSectionCommunity {
  font-size: 35px;
  font-weight: normal;
}

.homepageCustom .containerBlock .cardBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homepageCustom .containerBlock .cardBar .cardContent {
  width: 200px;
  height: 160px;
  margin: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepageCustom .containerBlock .cardBar .cardContent .imageContainer {
  display: flex;
  width: 120px;
  height: 120px;
}


.homepageCustom .containerBlock .cardBar .cardContent .buttonLink {
  background-color: rgb(0, 114, 206);
  width: 170px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  height: 40px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.homepageCustom .containerBlockPrerequisite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.homepageCustom .imageSectionPrerequisite {
  display: flex;
  padding-top: 4%;
}

.homepageCustom .containerContentPrerequisite {
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-left: 8%;
}

.homepageCustom .containerBlockInstallation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}

.homepageCustom .imageSectionInstallation {
  display: flex;
  padding-top: 4%;
}


.homepageCustom .containerContentInstallation {
  width: 550px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
  padding-right: 10%;
}

.homepageCustom .containerBlockMonitoring {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.homepageCustom .imageSectionMonitoring {
  display: flex;
  padding-top: 4%;
  padding-left: 4%;
}

.homepageCustom .containerContentMonitoring {
  width: 700px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-left: 6%;
}


.homepageCustom .containerBlock ul.socialSet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.homepageCustom .containerBlock ul.socialSet a {
  display: flex;
  padding: 30px 80px;
}

.homepageCustom .containerBlock ul.socialSet img {
  width: 40px;
}

.homepageCustom .containerBlockOpenSource {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;  
}

.homepageCustom .titleSectionOpenSource {
  color : #5E53C7;
  font-size: 35px;
  font-weight: normal;
  margin: 24px
}

.homepageCustom .cardBarOpenSource {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homepageCustom .cardBarOpenSource .buttonLink {
  background-color: white;
  color: #5E53C7;
  border-radius: 5px;
  margin-top: 10px;
}

.homepageCustom .textOpenSource {
  color: #222E3B;
  font: 18px;
  width: 50%;
  margin-left:25%;
  text-align: center;  
}

.bannerCustom {
  padding: 0;
  background: #685BC7;
}

.bannerCustom > .wrapper {
  max-width: 1200px;
  padding: 10px 0;
  min-width: fit-content;
}

@media only screen and (max-width: 769px) {
  .homepageCustom .containerContentPrerequisite {
    text-align: center;
    padding: 0px;
  }

  .homepageCustom .containerContentInstallation {
    text-align: center;
    padding: 0px ;
  }

  .homepageCustom .containerContentMonitoring {
    text-align: center;
    padding: 0px;
  }


  .homepageCustom .containerBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .homepageCustom h1 {
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .homepageCustom .subTitle {
    margin-top: 10%;
    padding: 0;
  }

  .homepageCustom .textOpenSource {
    width: 100%;
    padding-bottom: 10px ;
    margin: 0;
    text-align: center;
  }

}