article a {
  color: $fontLinkColor;
}

article a:hover {
  color: $fontLinkColor;
  text-decoration: underline;
}

/* your custom css */
.nav-footer {
  background: #47525b!important;
}

.languages-icon {
  display: none!important;
}

#languages-dropdown-items {
  min-width: 82px!important;
}

#languages-dropdown.visible {
  padding-top: 8px!important;
}

.selec-vers {
  margin: .4em 1em;
  background: #23303A;
  border: none;
  color: #ffffff;
  font-size: 1em;
}
.selec-lang {
  margin-top: .4em;
  background: #23303A;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

.navigationSlider .slidingNav ul li a {
  color: #fff!important;
  font-size: 1em!important;
  font-weight: normal!important;
}
.navSearchWrapper {
  padding: 0 15px!important;
}
.navigationSlider .slidingNav ul {
  background-color: #23303A!important;
}

@media only screen and (max-width: 735px) {
  .selec-vers {
      margin: .95em .5em;
  }
  .selec-lang {
      margin-top: .95em;
  }
}