/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .mainContainer {
  max-width: 1040px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

 .button {
  background-color: #2213e2;
  color: #fff;
  border-radius: 9999px;
  padding: 11px 23px;
  font-weight: 500;
  font-family: var(--ifm-font-family-heading);
  text-decoration: none !important;
  display: inline-block;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  appearance: none;
  border: none;
  flex-shrink: 0;
}

.button:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

.button.button_dark {
  background-color: #00003D;
}

.searchForm {
  display: flex;
  gap: 16px;
  margin-bottom: 67px;
}

.searchForm_input {
  border-radius: 9999px;
  padding: 20px 27px;
  background-color: var(--ifm-background-color-invert);
  flex-grow: 1;
  display: flex;
  gap: 16px;
  align-items: center;
}

html[data-theme='dark'] .searchForm_input img {
  filter: invert(1);
}

.searchForm_input input {
  color: var(--ifm-background-color);
  width: 100%;
  font-size: 23px;
  appearance: none;
  background-color: transparent;
  border: none;
}

.searchForm_input input:focus-visible {
  outline: none;
}

.button.buttonBig {
  padding: 17px 40px;
  font-size: 23px;
}

.button.buttonBig img {
  width: 24px;
  height: 22px;
}

.searchForm .button.buttonBig {
  display: none;
}

@media(min-width:576px) {
  .searchForm .button.buttonBig {
    display: flex;
  }
}

.headingContainer {
  background-color: var(--ifm-background-color);
  padding-top: 76px;
  padding-bottom: 76px;
}

.headingContainer h1 {
  font-family: var(--ifm-font-family-heading);
  font-size: 42px;
  margin-bottom: 42px;
}

.headingCards {
  display: grid;
  gap: 16px;
}

@media(min-width:768px) {
  .headingCards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.headingCard {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headingCardHeader {
  font-size: 25px;
  font-family: var(--ifm-font-family-heading);
  background-color: var(--ifm-background-color-invert);
  color: var(--ifm-background-color);
  padding: 18px 38px;
}

.headingCardBody {
  background-color: var(--ifm-color-pink);
  padding: 25px 38px;
  flex-grow: 1;
  font-size: 18px;
}

.headingCardBody ul {
  padding: 0;
  margin: 0;
}

.headingCardBody ul li {
  padding: 10px 0px;
  list-style: none;
}

.headingCardBody ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 1, 61, 0.15)
}

html[data-theme='dark'] .headingCardBody ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255, 0.15)
}

.headingCardBody ul li a {
  font-weight: 500;
  color: var(--ifm-font-color-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingCardBody ul li a img {
  opacity: 0;
  transition: opacity 0.1s;
}

.headingCardBody ul li a:hover img {
  opacity: 1;
}

html[data-theme='dark'] .headingCardBody ul li a img {
  filter: brightness(0) invert(1)
}

.bannerContainer {
  background-color: #2213e2;
}
.bannerWrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
@media(min-width:991px) {
  .bannerWrapper {
    gap:42px;
    justify-content:initial;
  }
}
.badge {
  display:inline-block;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 30px;
  color: #00003D;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media(min-width:576px) {
  .badge {
    font-size: 20px;
  }
}
.bannerWrapper p {
  font-size: 25px;
  margin-bottom: 0;
  font-family: var(--ifm-font-family-heading);
  text-align: center;
  color: var(--ifm-color-white);
}
@media(min-width:991px) {
  .bannerWrapper p {
    flex-grow: 1;
    text-align: left;
  }
}

/* COMMUNITY BLOCK */
.socialContainer {
  background-color: var(--ifm-color-pink-solid);
}
.socialContainer .mainContainer {
  display: flex;
  flex-wrap: wrap;
}
@media(min-width:991px) {
  .socialContainer .mainContainer {
    flex-wrap: nowrap;
  }
}
.socialBlock {
  margin-top: 73px;
  margin-bottom: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.socialBlock:last-child {
  margin-bottom: 73px;
}
.socialBlock:first-child {
  margin-bottom: 0;
}
@media(min-width:576px) {
  .socialBlock {
    text-align: left;
    margin-bottom: 73px;
  }
  .socialBlock:first-child {
    margin-bottom: 0;
  }
}
@media(min-width:991px) {
  .socialBlock {
    max-width:auto;
    padding-left: 67px;
    margin-bottom: 73px;
  }
  .socialBlock:first-child {
    border-right: 1px solid rgba(34, 19, 226, 0.15);
    padding-left: 0;
    padding-right: 67px;
  }
}
.socialBlock p {
  color: var(--ifm-color-dark);
  font-weight: 500;
  margin-top: 38px;
  margin-bottom: 38px;
}
.watchWrapper {
  display:flex;
  gap:12px;
  align-items: center;
  margin-top:12px;
  margin-bottom:32px;
  flex-wrap: wrap;
  justify-content: center;
}
@media(min-width:576px) {
  .watchWrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top:54px;
    margin-bottom:54px;
    gap:26px;
  }
}
.socialWrapper {
  display:flex;
  align-items: center;
  gap:26px;
  justify-content: space-between;
}
.socialWrapper img {
  max-width: 45px;
  max-height: 45px;
}
