/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0072ce;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.iconLanguage_3vod {
  display: none !important;
}

.dropdown__menu {
  min-width: fit-content !important;
  text-align: right !important;
}

.dropdown__menu li:nth-child(1){
  min-width: fit-content !important;
  text-align: left !important;
}

.navbar__item {
  pointer-events: visible !important;
  cursor: pointer !important;
}

.navbar__link {
  pointer-events: none;
  cursor: none;
}

.navbar__link > span > svg {
  display: none !important;
}

.alert--warning {
  display: none !important;
}

.alert {
  /*display: none!important;*/
}

html[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
}

ol ol,
ol ol ol,
ol ul ol,
ul ol,
ul ol ol,
ul ul ol {
  list-style-type: decimal;
}

.tabs {
  display: flex;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 100%;
}

.tabs__item--active {
  background-color: var(--ifm-hover-overlay);
  border-radius: 0 !important;
}

html[data-theme="dark"] .tabs__item--active {
  background-color: #ffffff38;
}

.dropdown > .navbar__link:after {
  content: none;
}

.iconLanguage_EbrZ {
  display: none;
}

.iconLanguage_node_modules-\@docusaurus-theme-classic-lib-next-theme-NavbarItem-LocaleDropdownNavbarItem-styles-module {
  display: none;
}
